@font-face {
    font-display: swap; 
    font-family: "Montserrat-Light", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Montserrat-Light.ttf");
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat-Light;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #F0FFFF;
  }

input {
    display: none;
}

.main-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4D4D4D;
}

.slider-img {
    width: 94%;
    height: 60%;
    overflow: hidden;
    padding: 3%;
}

.inner {
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.slides {
    min-width: 100%;
    min-height: 100%;
    background-color: #F0FFFF;
    display: flex;
    justify-content: center;
    object-fit: contain;
    transition: all linear 0.6s;
}

.lower-line {
    display: flex;
    width: 94%;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 3%;
}

.labels {
    display: flex;
    justify-content: end;
    align-items: center;
}

label {
    padding: 10%;
    cursor: pointer;
}

.dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #00FFFF;
    cursor: pointer;
}

.text-storage{
    width: 50%;
    overflow: hidden;
}

.slider-text {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.slides1 {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    object-fit: contain;
    transition: all linear 0.6s;
    white-space: nowrap;
}

#point1:checked ~ .lower-line label:nth-of-type(1) .dot,
#point2:checked ~ .lower-line label:nth-of-type(2) .dot,
#point3:checked ~ .lower-line label:nth-of-type(3) .dot,
#point4:checked ~ .lower-line label:nth-of-type(4) .dot {
    background: #00FFFF;
    border: none;
}

#point1:checked ~ .slider-img .slides {
    transform: translateX(0%);
}

#point2:checked ~ .slider-img .slides {
    transform: translateX(-100%);
}

#point3:checked ~ .slider-img .slides {
    transform: translateX(-200%);
} 

#point4:checked ~ .slider-img .slides {
    transform: translateX(-300%);
}

#point1:checked ~ .lower-line .slides1 {
    transform: translateX(0%);
}

#point2:checked ~ .lower-line .slides1 {
    transform: translateX(-100%);
}

#point3:checked ~ .lower-line .slides1 {
    transform: translateX(-200%);
} 

#point4:checked ~ .lower-line .slides1 {
    transform: translateX(-300%);
}